# Python
__pycache__/
*.pyc
.env

# Mac
.DS_Store

# Data (do NOT push)
FMUCD.zip
fmucd_data/
FMUCD_CLEANED.csv
*.csv
*.xlsx

# FMUCD extracted folder (your exact folder name)
Facility Management Unified Classification Database (FMUCD)/
node_modules

# Python
venv/
__pycache__/
*.pkl

# Node / React
node_modules/

# Data
data/
*.csv
*.zip

# Env
.env

# OS
.DS_Store

